{#
{% extends "base.twig" %}
#}

<!doctype html>
<html>
<body>
{% block content %}

  {% if environment == "development" %}

    <hr style="border: solid 1px red; ">
    <script type="text/javascript">
      window.__INITIAL_STATE__ = {{initial_state|json_encode(constant('JSON_PRETTY_PRINT'))}};
    </script>

    <script src="http://localhost:{{ webpack_plugin_port }}/static/app.js"></script>

  {% else %}

    <script>
      {{js_string|raw}}
    </script>

  {% endif %}

  <div id="venues-plugin" class="venues_plugin">
    Venues
  </div>

{% endblock %}
</body>
</html>
