/**
 * Allure Breakpoints CSS/Stylus module. Contains breakpoint varaiables.
 */

// Mobiles
smallMobilesOnly = "(max-width:320px)"
smallMobilesAndUp = "(min-width:320px)"
mediumMobilesAndUp = "(min-width:375px)"

// Tablets
smallTabletsAndUp = "(min-width:533px)"
ipadsAndUp = "(min-width:768px)"
ipadsOnly = "(min-width:768px) and (max-width:768px)"
largeTabletsAndUp= "(min-width:800px)"

// Desktops
smallDesktopsAndUp = "(min-width:1024px)"
mediumDesktopsAndUp = "(min-width:1280px)"
largeDesktopsAndUp = "(min-width:1680px)"
extraLargeDesktopAndUp = "(min-width: 1920px)"

// Special
retinasOnly = "(-webkit-min-device-pixel-ratio: 2.0) and (-webkit-max-device-pixel-ratio: 2.0)"

// Admin
wpAdminDesktop = "(min-width:783px)"
