@import 'leaflet/leaflet'
@import 'leaflet/leaflet.cluster'

@import 'venues-overlay-container'
@import 'venues-marker'
@import 'venues-overlay'
@import 'venues-share'
@import 'venues-search'
@import 'venues-map'

body.agreable-venues-plugin
  height 100%
  overflow hidden

.venues
  position relative
  clearfix()

