@import 'leaflet/leaflet'
@import 'leaflet/leaflet.cluster'

@import 'venues-overlay-container'
@import 'venues-overlay'
@import 'venues-search'
@import 'venues-map'

.venues
  position relative
  clearfix()

.leaflet-marker-icon:not(.marker-cluster)
  box-shadow 0 8px 6px -6px #000
  border 5px solid #fff
