.venues-share
  text-align center

  ul
    list-style none
    padding-left 0

.venues-share__network
  opacity 0.75
  background-color black
  border-radius 30px
  display inline-block
  height 64px
  margin-right 32px
  width 64px

.venues-share__network:last-child
  margin-right 0

.venues-share__network:hover
  opacity 1

.venues-share__network a
.venues-share__network a:hover
  background-color transparent

.venues-share__network svg
  fill white
