@import 'nib'
@import 'mixins'
@import 'allure-breakpoints'

.venues-overlay-container
  bottom 20px
  box-sizing border-box
  left 20px
  position fixed
  right 20px
  top 60px
  z-index 10
  height auto

@media ipadsAndUp
  .venues-overlay-container
    position absolute
    left auto
    max-width 320px
    right 20px
    top 20px
    transform none

@media smallDesktopsAndUp
  .venues-overlay-container
    max-width 420px

.venues-overlay-container__close
  background white
  border-radius 15px
  box-shadow 1px 1px 10px rgba(0, 0, 0, 0.2)
  font-size 21px
  height 30px
  position absolute
  left 5px
  letter-spacing 0
  top 5px
  text-align center
  width 30px
  z-index 20
  text-decoration none

  .venues-overlay-container__close__icon
    display inline-block
    border-radius 100%
    height 30px
    line-height 1
    margin-bottom 2px
    width 30px

    svg
      height 16px
      width 16px

      *
        fill black

  .venues-overlay-container__close__label
    display none
    font-size 10px
    font-weight bold
    text-transform uppercase
