@import 'allure-breakpoints'

.venues-overlay
  background white
  box-sizing border-box
  height 85%
  left 50%
  max-width 320px
  overflow: scroll;
  overflow-x: hidden;
  padding 20px
  position absolute
  top 20px
  transform translateX(-50%)
  width 100%
  z-index 10

  h1
    font-size 32px
    line-height 1
    margin 20px auto
    text-align center

  h2
    font-size 18px
    text-align center
    margin 0 0 16px
    line-height 1.5

  h3
    font-size 16px
    margin 0 0 16px
    text-align center

  p
    font-size 16px

@media ipadsAndUp
  .venues-overlay
    right 20px
    left auto
    transform none

.venues-overlay__img
  margin-bottom 16px
  img
    max-width 100%

.venues-overlay__types
  text-align center

.venues-overlay__types__type
  display inline-block
  font-size 16px

.venues-overlay__types__type:after
  content "\2022"
  padding 0 5px
  font-size 0.75em
  vertical-align middle
  position relative
  top -3px

.venues-overlay__types__type:last-child:after
  content ""

.venues-overlay__tags
  margin-bottom 16px

.venues-overlay__tags__tag
  background black
  border-radius 3px
  display inline-block
  color white
  font-size 12px
  margin-right 5px
  padding 3px

.venues-overlay__website
  text-align center

.venues-overlay__website a
  font-size 14px

.venue-price
  text-align center
  margin-bottom 16px
  font-size 30px
  font-weight bold

.venue-price__item
  margin-right 5px
  opacity 0.25

.venue-price__item--active
  opacity 1

.venues-overlay__social__item svg
  max-width 50px
